<% if flash.any? %>
  <div class="space-y-3 mb-6">
    <% flash.each do |type, message| %>
      <%# type: notice / alert %>
      <% base = "rounded-xl px-4 py-3 text-sm ring-1" %>

      <% if type.to_s == "notice" %>
        <div class="<%= "#{base} bg-emerald-50 text-emerald-900 ring-emerald-200" %>">
          <%= message %>
        </div>
      <% else %>
        <div class="<%= "#{base} bg-rose-50 text-rose-900 ring-rose-200" %>">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>