<% content_for :page_title, "投稿" %>

<div class="mx-auto max-w-xl">
  <div class="rounded-2xl bg-white/80 shadow-[0_18px_35px_rgba(0,0,0,0.08)] ring-1 ring-black/5 p-6 sm:p-8">

    <div class="mt-6">
      <%= render "form", post: @post %>
    </div>
  </div>
</div>