@tailwind base;
@tailwind components;
@tailwind utilities;

.reaction-icon {
  @apply h-4 w-4 stroke-current fill-none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
